# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/

# Ignore model checkpoints
models/
*.pth


# Ignore dataset and processed images
dataset/
outliers.txt
processed_data/

# Ignore VS Code settings
.vscode/
.idea/

#Ignore Images
*.jpg
*.jpeg
*.png

# Ignore logs and temp files
logs/
*.log
*.tmp
